---
import { AddressList } from '../components/AddressList';
---

<!DOCTYPE html>
<html lang='en'>
  {console.log(Astro.url)}

  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width' />
  <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
  <meta name='generator' content={Astro.generator} />

  <body>
    <div class='w-screen h-screen flex justify-center'>
      <AddressList client:load />
    </div>
  </body>
</html>
